@import "@/assets/scss/foundations/colors.scss";

.form {
  .input {
    margin-bottom: 1rem;
  }
}

.taskForm {
  width: 100%;

  &--checkbox {
    /* This css is for normalizing styles. You can skip this. */
    display: block;
    margin-bottom: 15px;

    label:before,
    label:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    label {
      position: relative;
      cursor: pointer;
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid $steelBlue;
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba($black, 0.05),
        inset 0px -15px 10px -12px rgba($black, 0.05);
      padding: 0.8rem;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }

    input:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 10px;
      width: 9px;
      height: 20px;
      border: solid $steelBlue;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
  }
}
